@charset "UTF-8";
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
/* html5요소 하위브라우져 적용 */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

/* 모든 Device를 위한 공통 로드 */
/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,figcaption,span{margin:0;padding:0;font-family: 'Noto Sans KR', sans-serif;color:var(--black_0);} */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure, figcaption, span {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-family: "Noto Sans KR";
}

body {
  height: 100%;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--black_0);
}

table {
  border-spacing: 0;
  *border-collapse: collapse;
  font-family: helvetica, apple sd gothic neo, sans-serif;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
}

legend, caption {
  text-indent: -100%;
  *text-indent: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

select, input {
  vertical-align: middle;
  font-family: "Noto Sans KR", sans-serif;
}

.clfix {
  *zoom: 1;
}

.clfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.ir {
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  z-index: -9999;
  top: -10000px;
  left: -100000px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inlineBlock {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.clear {
  clear: both;
}

.overHidden {
  overflow: hidden;
}

.hide {
  display: none;
}

.posRel {
  position: relative;
  z-index: 1;
}

/* align */
.center {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

/* color */
/* skip navigation */
a.skipNaviBtn {
  position: absolute;
  z-index: 100;
  background: none repeat scroll 0 0 #ea0e15;
  color: var(--white_1);
  display: block;
  left: -200%;
  text-align: center;
  width: 200px;
  padding: 5px 0;
  border: 1px solid var(--black_0);
  border-top: none;
}
a.skipNaviBtn:focus {
  left: 50%;
  margin-left: -100px;
  z-index: 10000;
}
a.skipNaviBtn:hover {
  left: 50%;
  margin-left: -100px;
  z-index: 10000;
}
a.skipNaviBtn:active {
  left: 50%;
  margin-left: -100px;
  z-index: 10000;
}

/*padding*/
.pt20 {
  padding-top: 20px;
}

.pl20 {
  padding-left: 20px;
}

/* margin */
.mt30 {
  margin-top: 30px;
}

/* layout */
.wrap {
  display: flex;
  width: 100%;
}

#snb {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 233px;
  height: 100vh;
  background: #009956;
  box-shadow: 0 0 9px 5px rgba(32, 32, 32, 0.24);
}
#snb .logo {
  display: flex;
  align-items: center;
  width: calc(100% - 18px);
  height: 74px;
  padding: 0 0 0 24px;
  margin: 0 auto 17px;
  line-height: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #84d4b1;
}
#snb nav {
  width: calc(100% - 18px);
  height: calc(100% - 360px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3px 0;
  margin: 0 auto;
}
#snb nav a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 0 0 56px;
  color: #baecd6;
  font-size: 13.5px;
  letter-spacing: 0.02em;
  border-radius: 5px;
}
#snb nav a:hover {
  color: #0e5435;
}
#snb nav a:nth-child(1) {
  background: url(../images/common/snb_1_off.png) 23px center no-repeat;
}
#snb nav a:nth-child(1):hover {
  background: #8bc7ad url(../images/common/snb_1_on.png) 23px center no-repeat;
}
#snb nav a:nth-child(2) {
  background: url(../images/common/snb_2_off.png) 23px center no-repeat;
}
#snb nav a:nth-child(2):hover {
  background: #8bc7ad url(../images/common/snb_2_on.png) 23px center no-repeat;
}
#snb nav a:nth-child(3) {
  background: url(../images/common/snb_3_off.png) 23px center no-repeat;
}
#snb nav a:nth-child(3):hover {
  background: #8bc7ad url(../images/common/snb_3_on.png) 23px center no-repeat;
}
#snb nav a:nth-child(4) {
  background: url(../images/common/snb_4_off.png) 23px center no-repeat;
}
#snb nav a:nth-child(4):hover {
  background: #8bc7ad url(../images/common/snb_4_on.png) 23px center no-repeat;
}
#snb nav a:nth-child(5) {
  background: url(../images/common/snb_5_off.png) 23px center no-repeat;
}
#snb nav a:nth-child(5):hover {
  background: #8bc7ad url(../images/common/snb_5_on.png) 23px center no-repeat;
}
#snb.on {
  width: 73px;
}
#snb.on .logo {
  overflow: hidden;
  width: 42px;
  height: 55px;
  padding: 0 0 15px 0;
  margin: 18px auto 17px;
  line-height: 0;
  color: transparent;
  font-size: 0;
  text-indent: -999px;
  border-bottom: 1px solid #84d4b1;
  background: url(../images/common/logo_small.png) 0 0 no-repeat;
}
#snb.on nav {
  width: 56px;
  height: calc(100% - 360px);
}
#snb.on nav a {
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
#snb.on nav a:hover {
  color: #0e5435;
}
#snb.on nav a:nth-child(1) {
  background: url(../images/common/snb_1_off.png) center no-repeat;
}
#snb.on nav a:nth-child(1):hover {
  background: #8bc7ad url(../images/common/snb_1_on.png) center no-repeat;
}
#snb.on nav a:nth-child(2) {
  background: url(../images/common/snb_2_off.png) center no-repeat;
}
#snb.on nav a:nth-child(2):hover {
  background: #8bc7ad url(../images/common/snb_2_on.png) center no-repeat;
}
#snb.on nav a:nth-child(3) {
  background: url(../images/common/snb_3_off.png) center no-repeat;
}
#snb.on nav a:nth-child(3):hover {
  background: #8bc7ad url(../images/common/snb_3_on.png) center no-repeat;
}
#snb.on nav a:nth-child(4) {
  background: url(../images/common/snb_4_off.png) center no-repeat;
}
#snb.on nav a:nth-child(4):hover {
  background: #8bc7ad url(../images/common/snb_4_on.png) center no-repeat;
}
#snb.on nav a:nth-child(5) {
  background: url(../images/common/snb_5_off.png) center no-repeat;
}
#snb.on nav a:nth-child(5):hover {
  background: #8bc7ad url(../images/common/snb_5_on.png) center no-repeat;
}
#snb.on #snbFooter {
  width: 56px;
}
#snb.on #snbFooter a {
  width: 56px;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
#snb.on #snbFooter a:hover {
  color: #0e5435;
}
#snb.on #snbFooter a:nth-child(1) {
  background: url(../images/common/lnb_footer_1_off.png) center no-repeat;
}
#snb.on #snbFooter a:nth-child(1):hover {
  background: #8bc7ad url(../images/common/lnb_footer_1_on.png) center no-repeat;
}
#snb.on #snbFooter a:nth-child(2) {
  background: url(../images/common/lnb_footer_2_off.png) center no-repeat;
}
#snb.on #snbFooter a:nth-child(2):hover {
  background: #8bc7ad url(../images/common/lnb_footer_2_on.png) center no-repeat;
}
#snb.on #snbFooter a:nth-child(3) {
  background: url(../images/common/lnb_footer_3_off.png) center no-repeat;
}
#snb.on #snbFooter a:nth-child(3):hover {
  background: #8bc7ad url(../images/common/lnb_footer_3_on.png) center no-repeat;
}
#snb #snbFooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: calc(100% - 18px);
  padding: 23px 0 0 0;
  margin: auto auto 112px;
  border-top: 1px solid #84d4b1;
}
#snb #snbFooter a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 0 0 56px;
  color: #baecd6;
  font-size: 13.5px;
  letter-spacing: 0.02em;
  border-radius: 5px;
}
#snb #snbFooter a:hover {
  color: #0e5435;
}
#snb #snbFooter a:nth-child(1) {
  background: url(../images/common/lnb_footer_1_off.png) 23px center no-repeat;
}
#snb #snbFooter a:nth-child(1):hover {
  background: #8bc7ad url(../images/common/lnb_footer_1_on.png) 23px center no-repeat;
}
#snb #snbFooter a:nth-child(2) {
  background: url(../images/common/lnb_footer_2_off.png) 23px center no-repeat;
}
#snb #snbFooter a:nth-child(2):hover {
  background: #8bc7ad url(../images/common/lnb_footer_2_on.png) 23px center no-repeat;
}
#snb #snbFooter a:nth-child(3) {
  background: url(../images/common/lnb_footer_3_off.png) 23px center no-repeat;
}
#snb #snbFooter a:nth-child(3):hover {
  background: #8bc7ad url(../images/common/lnb_footer_3_on.png) 23px center no-repeat;
}

#contents {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f4f6f7;
  /* contents*/
  /* icons */
  /* table */
  /* paging */
}
#contents #gnb {
  display: flex;
  height: 74px;
  padding: 19px 0 0 23px;
  border-bottom: 1px solid #e1e6ea;
}
#contents #gnb .leftMenu {
  display: flex;
  align-items: center;
}
#contents #gnb .leftMenu a {
  overflow: hidden;
  display: block;
  align-items: center;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
#contents #gnb .leftMenu a.btnToggle {
  width: 16px;
  height: 18px;
  background: url(../images/common/btn_hamberger.png) 0 0 no-repeat;
}
#contents #gnb .leftMenu .hoverMenu {
  display: flex;
  gap: 0 6px;
  margin-left: 40px;
}
#contents #gnb .leftMenu .hoverMenu a {
  width: 40px;
  height: 43px;
}
#contents #gnb .leftMenu .hoverMenu a.btnDashboard {
  background: url(../images/common/icon_dashboard.png) center 11px no-repeat;
}
#contents #gnb .leftMenu .hoverMenu a.btnFile {
  background: url(../images/common/icon_file.png) center 11px no-repeat;
}
#contents #gnb .leftMenu .hoverMenu a.btnMail {
  background: url(../images/common/icon_mail.png) center 11px no-repeat;
}
#contents #gnb .leftMenu .hoverMenu a.btnSchedule {
  background: url(../images/common/icon_schedule.png) center 11px no-repeat;
}
#contents #gnb .leftMenu .hoverMenu:hover a {
  padding: 27px 0 0 0;
  text-indent: 0;
  font-size: 10px;
  color: #a4a4a4;
  text-align: center;
  background-position: center 0;
}
#contents #gnb .leftMenu .hoverMenu:hover a.btnFile {
  color: #009956;
}
#contents #gnb .rightMenu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 16px;
  justify-content: flex-end;
  padding-right: 21px;
  gap: 0 28px;
}
#contents #gnb .rightMenu select {
  position: relative;
  z-index: 1;
  width: 182px;
  height: 36px;
  padding: 0 0 0 36px;
  margin-right: 55px;
  font-size: 15px;
  color: #292929;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  background-color: #fff;
  background-image: url(../images/common/bg_select.gif), url(../images/common/bg_arrow.gif);
  background-position: 20px 10px, 90% center;
  background-repeat: no-repeat;
}
#contents #gnb .rightMenu select::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 20px;
  display: block;
  width: 1px;
  height: 16px;
  background: #9e9e9e;
}
#contents #gnb .rightMenu a {
  overflow: hidden;
  display: block;
  align-items: center;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
#contents #gnb .rightMenu a:nth-child(2) {
  width: 18px;
  height: 19px;
  background: url(../images/common/icon_right_1.png) 0 0 no-repeat;
}
#contents #gnb .rightMenu a:nth-child(3) {
  width: 18px;
  height: 19px;
  background: url(../images/common/icon_right_2.png) 0 0 no-repeat;
}
#contents #gnb .rightMenu a:nth-child(4) {
  width: 18px;
  height: 19px;
  background: url(../images/common/icon_right_3.png) 0 0 no-repeat;
}
#contents #gnb .rightMenu a:nth-child(5) {
  width: 18px;
  height: 19px;
  background: url(../images/common/icon_right_4.png) 0 0 no-repeat;
}
#contents .utilArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding: 6px 19px 0 0;
}
#contents .utilArea .location {
  display: flex;
  align-items: center;
  gap: 0 10px;
  padding: 0 0 0 40px;
}
#contents .utilArea .location > a, #contents .utilArea .location .functionBtn {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 0 10px;
  align-items: center;
}
#contents .utilArea .location > a::after, #contents .utilArea .location .functionBtn::after {
  content: "";
  display: block;
  width: 8px;
  height: 11px;
  background: url(../images/common/icon_gt.png) 0 0 no-repeat;
}
#contents .utilArea .location > a.homeIcon, #contents .utilArea .location .functionBtn.homeIcon {
  width: 39px;
  height: 21px;
  align-items: center;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
  background: url(../images/common/icon_home.png) 0 0 no-repeat;
}
#contents .utilArea .location > a.homeIcon::after, #contents .utilArea .location .functionBtn.homeIcon::after {
  margin-left: 20px;
}
#contents .utilArea .location > a:last-child::after, #contents .utilArea .location .functionBtn:last-child::after {
  display: none;
}
#contents .utilArea .location > a.functionBtn, #contents .utilArea .location .functionBtn.functionBtn {
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
  width: 18px;
  height: 18px;
  background: url(../images/common/icon_plus.png) 0 0 no-repeat;
}
#contents .utilArea .btnType {
  display: block;
  width: 22px;
  height: 21px;
  background: url(../images/common/icon_type_off.png) 0 0 no-repeat;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
#contents .utilArea .btnType:hover {
  background: url(../images/common/icon_type_on.png) 0 0 no-repeat;
}
#contents .realContents {
  width: calc(100% - 34px);
  min-height: 604px;
  padding: 30px 0;
  margin: 0 auto;
  border: 1px solid #e1e6ea;
  border-radius: 5px;
  background: #fff;
}
#contents #footer {
  display: flex;
  height: 65px;
  padding: 0 0 0 44px;
  align-items: center;
  margin-top: auto;
  font-size: 13px;
  color: #d3dadf;
  border-top: 1px solid #e1e6ea;
}
#contents .titleType1 {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 400;
}
#contents .textType1 {
  font-size: 17px;
  letter-spacing: 0.02em;
  font-weight: 400;
}
#contents .flexCenter {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
#contents .alignRight .flexCenter {
  justify-content: flex-end;
}
#contents .icon {
  display: inline-block;
  vertical-align: middle;
}
#contents .icon.icon_up {
  width: 13px;
  height: 11px;
  background: url(../images/common/icon_up.png) 0 0 no-repeat;
}
#contents .icon.icon_down {
  width: 13px;
  height: 11px;
  background: url(../images/common/icon_down.png) 0 0 no-repeat;
}
#contents table {
  table-layout: fixed;
}
#contents table.colTable {
  width: 100%;
}
#contents table.colTable thead th {
  height: 53px;
  font-size: 15.3px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #e1e6ea;
}
#contents table.colTable tbody tr td {
  height: 53px;
  font-size: 15.3px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #e1e6ea;
}
#contents table.colTable tbody tr:hover td {
  background: #f4f6f7;
}
#contents table.colTable tfoot td {
  height: 53px;
  font-size: 15.3px;
  letter-spacing: 0.02em;
}
#contents .changeInput {
  width: 100%;
  height: 37px;
  font-size: 15.5px;
  background: #fff;
  border: 1px solid #ff701e;
  border-radius: 6px;
}
#contents .pagingWrap {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 30px 0 0 0;
}
#contents .pagingWrap .paging {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47px;
  gap: 0 4px;
}
#contents .pagingWrap .paging a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 15px;
  color: #222;
}
#contents .pagingWrap .paging a.prevPage {
  width: 9px;
  height: 15px;
  margin-right: 24px;
  overflow: hidden;
  text-indent: -999px;
  background: url(../images/common/paging_prev.png) 0 0 no-repeat;
}
#contents .pagingWrap .paging a.nextPage {
  width: 9px;
  height: 15px;
  margin-left: 24px;
  overflow: hidden;
  text-indent: -999px;
  background: url(../images/common/paging_next.png) 0 0 no-repeat;
}
#contents .pagingWrap .paging strong {
  display: flex;
  width: 31px;
  height: 31px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  background: #009956;
  border-radius: 15.5px;
}
#contents .pagingWrap select {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 296px;
  height: 47px;
  padding: 0 0 0 36px;
  margin-right: 55px;
  font-size: 15px;
  color: #292929;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  background-color: #fff;
  background-image: url(../images/common/bg_select.gif), url(../images/common/bg_arrow.gif);
  background-position: 20px 17px, 90% center;
  background-repeat: no-repeat;
}
#contents .pagingWrap select::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 20px;
  display: block;
  width: 1px;
  height: 16px;
  background: #9e9e9e;
}

/* right click */
.contextBox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 206px;
  padding: 19px;
  background: #fff;
  border: 1px solid #e1e6ea;
  border-radius: 6px;
}
.contextBox a {
  display: block;
  height: 26px;
  padding: 0 0 0 35px;
  line-height: 26px;
  font-size: 15px;
  color: #222;
}
.contextBox a.closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 13px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}
.contextBox a:nth-child(1) {
  background: url(../images/common/context_1.png) 0 0 no-repeat;
}
.contextBox a:nth-child(2) {
  background: url(../images/common/context_2.png) 0 0 no-repeat;
}
.contextBox a:nth-child(3) {
  background: url(../images/common/context_3.png) 0 0 no-repeat;
}
.contextBox a:nth-child(4) {
  background: url(../images/common/context_4.png) 0 0 no-repeat;
}
.contextBox a:nth-child(5) {
  background: url(../images/common/context_5.png) 0 0 no-repeat;
}
.contextBox a:nth-child(6) {
  background: url(../images/common/context_6.png) 0 0 no-repeat;
}
.contextBox a:nth-child(7) {
  background: url(../images/common/context_7.png) 0 0 no-repeat;
}
.contextBox a + a {
  margin-top: 17px;
}

/* 공유&활동 레이어 */
.shareActiveLayer {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 482px;
  height: 321px;
  padding: 10px 24px 22px 24px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}
.shareActiveLayer .tabArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shareActiveLayer .tabArea a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 6px;
  padding: 13px 0;
  width: 175px;
  font-size: 17px;
  text-align: center;
}
.shareActiveLayer .tabArea a.on {
  color: #222;
  border-bottom: 2px solid #009956;
}
.shareActiveLayer .tabArea a.off {
  color: #777;
  border-bottom: 2px solid transparent;
}
.shareActiveLayer .tabArea a:nth-child(1).on::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  background: url(../images/common/icon_share_on.png) 0 0 no-repeat;
}
.shareActiveLayer .tabArea a:nth-child(1).off::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  background: url(../images/common/icon_share_off.png) 0 0 no-repeat;
}
.shareActiveLayer .tabArea a:nth-child(2).on::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  background: url(../images/common/icon_activ_on.png) 0 0 no-repeat;
}
.shareActiveLayer .tabArea a:nth-child(2).off::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  background: url(../images/common/icon_activ_off.png) 0 0 no-repeat;
}
.shareActiveLayer .tabArea a::before {
  margin-top: 4px;
}
.shareActiveLayer .tabView {
  display: none;
  width: 100%;
  padding: 10px 0 0 0;
}
.shareActiveLayer .tabView.shareArea {
  display: block;
}
.shareActiveLayer .tabView .searchUser {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 0 0 53px;
  color: #222;
  font-size: 15px;
  background: #fafafa url(../images/common/icon_search.png) 20px 11px no-repeat;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
}
.shareActiveLayer .tabView .userList {
  overflow-y: auto;
  height: 178px;
  padding: 12px 19px;
  margin: 5px auto 0;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
  background: #fff;
}
.shareActiveLayer .tabView .userList li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.shareActiveLayer .tabView .userList li a {
  font-size: 15px;
  color: #222;
}
.shareActiveLayer .tabView .userList li + li {
  margin-top: 14px;
}
.shareActiveLayer .tabView .activeList {
  overflow-y: auto;
  height: 226px;
  padding: 12px 19px;
  margin: 5px auto 0;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
  background: #fff;
}
.shareActiveLayer .tabView .activeList li {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.shareActiveLayer .tabView .activeList li i {
  display: block;
  width: 18px;
  height: 18px;
}
.shareActiveLayer .tabView .activeList li i.icon_1 {
  background: url(../images/common/icon_favorite.png) 0 0 no-repeat;
}
.shareActiveLayer .tabView .activeList li i.icon_2 {
  background: url(../images/common/icon_refresh.png) 0 0 no-repeat;
}
.shareActiveLayer .tabView .activeList li i.icon_3 {
  background: url(../images/common/icon_ex.png) 0 0 no-repeat;
}
.shareActiveLayer .tabView .activeList li i.icon_4 {
  background: url(../images/common/icon_add.png) 0 0 no-repeat;
}
.shareActiveLayer .tabView .activeList li .detail {
  padding: 0 6px;
  width: 250px;
  font-size: 14.5px;
  color: #222;
}
.shareActiveLayer .tabView .activeList li .status {
  width: 66px;
  font-size: 14.5px;
  color: #222;
}
.shareActiveLayer .tabView .activeList li .date {
  width: 60px;
  text-align: right;
  font-size: 14.5px;
  color: #222;
}
.shareActiveLayer .tabView .activeList li + li {
  margin-top: 14px;
}
.shareActiveLayer .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}

/* 이동 복사 레이어 */
.folderMoveLayer {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 472px;
  height: 411px;
  padding: 10px 24px 22px 24px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}
.folderMoveLayer h2 {
  display: inline-block;
  padding: 15px 90px 15px 20px;
  font-weight: normal;
  font-size: 17px;
  color: #222;
  border-bottom: 2px solid #009956;
}
.folderMoveLayer .folderMoveContents {
  overflow-y: auto;
  height: 281px;
  margin: 10px 0 0 0;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
  background: #fff;
}
.folderMoveLayer .colTable {
  table-layout: fixed;
  width: 100%;
}
.folderMoveLayer .colTable thead th {
  line-height: 29px;
  text-align: center;
  font-size: 11px;
  color: #222;
}
.folderMoveLayer .colTable thead th.alignLeft {
  padding-left: 20px;
  text-align: left;
}
.folderMoveLayer .colTable tbody td {
  text-align: center;
  line-height: 41px;
  font-size: 15px;
  color: #222;
  border-bottom: 1px solid #e1e6ea;
}
.folderMoveLayer .colTable tbody td.alignLeft {
  padding-left: 20px;
  text-align: left;
}
.folderMoveLayer .colTable tbody td .icon_folder {
  display: inline-block;
  width: 21px;
  height: 18px;
  margin-right: 7px;
  vertical-align: middle;
  background: url(../images/common/icon_folder_small.png) 0 0 no-repeat;
}
.folderMoveLayer .colTable tbody tr:last-child td {
  border-bottom: none;
}
.folderMoveLayer .btnsWrap {
  display: flex;
  justify-content: flex-end;
  gap: 0 7px;
  padding: 13px 0 0 0;
}
.folderMoveLayer .btnsWrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  padding: 0 24px;
  color: #fff;
  font-size: 15px;
  border-radius: 4px;
}
.folderMoveLayer .btnsWrap a.btnCopy {
  background: #ff701e;
}
.folderMoveLayer .btnsWrap a.btnMove {
  background: #7860f4;
}
.folderMoveLayer .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}

/* 추가 레이어 */
.addLayer {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 9;
  width: 264px;
  height: 330px;
  padding: 14px 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.09);
}
.addLayer > a {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 0 0 38px;
  font-size: 15px;
  color: #222;
}
.addLayer > a.btn_1 {
  background: url(../images/common/btn_add_1.png) 7px 8px no-repeat;
}
.addLayer > a.btn_2 {
  background: url(../images/common/btn_add_2.png) 7px 8px no-repeat;
}
.addLayer > a.btn_3 {
  background: url(../images/common/btn_add_3.png) 7px 8px no-repeat;
}
.addLayer > a.btn_4 {
  background: url(../images/common/btn_add_4.png) 7px 8px no-repeat;
}
.addLayer > a.btn_5 {
  background: url(../images/common/btn_add_5.png) 7px 8px no-repeat;
}
.addLayer > a.btn_6 {
  background: url(../images/common/btn_add_6.png) 7px 8px no-repeat;
}
.addLayer > a.btn_7 {
  background: url(../images/common/btn_add_7.png) 7px 8px no-repeat;
}
.addLayer > a + a {
  margin-top: 8px;
}
.addLayer > a:hover::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 233px;
  height: 36px;
  background: url(../images/common/add_over.png) 0 0 no-repeat;
  box-shadow: 0 0 4px 3px rgba(94, 94, 94, 0.11);
  border-radius: 6px;
}

/* login */
.loginWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.loginWrap .loginBox {
  display: flex;
  justify-content: space-between;
  width: 950px;
  height: 609px;
  padding: 21px 20px 0 90px;
  background: #0a9d5c url(../images/common/logo_login.png) 50px bottom no-repeat;
  border-radius: 15px;
}
.loginWrap .loginBox .textSection {
  display: flex;
  height: 587px;
  flex-direction: column;
  align-content: space-between;
  width: 264px;
  padding: 104px 0 0 0;
}
.loginWrap .loginBox .textSection h2 {
  color: #fff;
  font-size: 39px;
  font-weight: bold;
  text-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.42);
}
.loginWrap .loginBox .textSection .infoArea {
  width: 264px;
  padding: 16px 0 55px 0;
  margin-top: auto;
  border-top: 1px solid #8cd1b3;
}
.loginWrap .loginBox .textSection .infoArea h3 {
  line-height: 30px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.42);
}
.loginWrap .loginBox .textSection .infoArea p {
  padding: 8px 0 0 0;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.42);
}
.loginWrap .loginBox .loginSection {
  width: 503px;
  height: 564px;
  padding: 107px 0 0 126px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px 4px rgba(24, 24, 24, 0.51);
}
.loginWrap .loginBox .loginSection h1 {
  font-size: 26px;
  font-weight: 700;
  color: #3d3d3d;
}
.loginWrap .loginBox .loginSection h1 span {
  display: block;
  padding: 10px 0 0 0;
  font-size: 26px;
  font-weight: 700;
  color: #e1e4e3;
}
.loginWrap .loginBox .loginSection fieldset {
  width: 252px;
  padding: 4px 0 0 0;
}
.loginWrap .loginBox .loginSection fieldset input {
  width: 100%;
  height: 46px;
  margin: 14px 0 0 0;
  padding: 0 0 0 50px;
  border: none;
  border-bottom: 1px solid #009956;
}
.loginWrap .loginBox .loginSection fieldset input[type=text] {
  background: url(../images/common/icon_login_id.png) 20px 14px no-repeat;
}
.loginWrap .loginBox .loginSection fieldset input[type=password] {
  background: url(../images/common/icon_login_pw.png) 20px 14px no-repeat;
}
.loginWrap .loginBox .loginSection fieldset .btnLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  margin: 29px 0 0 0;
  font-size: 14px;
  color: #fff;
  background: #009956;
  border-radius: 4px;
}
.loginWrap .loginBox .loginSection .btnsWrap {
  display: flex;
  justify-content: space-between;
  width: 252px;
}
.loginWrap .loginBox .loginSection .btnsWrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 28px;
  margin: 45px 0 0 0;
  font-size: 12px;
  color: #222;
  border: 2px solid #009956;
  border-radius: 3px;
}

/* 아이디 중복 체크 레이어*/
.checkIdLayer {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 507px;
  padding: 52px 65px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.checkIdLayer h3 {
  font-size: 15px;
  color: #222;
}
.checkIdLayer .idInputArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}
.checkIdLayer .idInputArea input[type=text] {
  width: 268px;
  height: 43px;
  padding: 0 0 0 21px;
  font-size: 15px;
  color: #222;
  background: #fafafa;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
}
.checkIdLayer .idInputArea a {
  display: flex;
  width: 104px;
  height: 43px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  background: #ff701e;
  border-radius: 4px;
}
.checkIdLayer p {
  padding: 25px 0 0 20px;
  line-height: 1.6;
  font-size: 14px;
  color: #222;
}
.checkIdLayer p strong {
  color: #009956;
}
.checkIdLayer a.btnConfirm {
  display: flex;
  width: 100%;
  height: 43px;
  margin: 30px 0 0 0;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #fff;
  background: #009956;
  border-radius: 4px;
}
.checkIdLayer .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}

/* 이벤트 레이어 1*/
.eventLayer_1 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 507px;
  padding: 37px 34px 30px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.eventLayer_1 h3 {
  font-size: 19px;
  color: #222;
  text-align: center;
}
.eventLayer_1 p {
  padding: 15px 0 25px;
  text-align: center;
  font-size: 14px;
  color: #222;
  letter-spacing: -0.015em;
}
.eventLayer_1 .eventContents {
  display: flex;
  width: 100%;
  min-height: 282px;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
}
.eventLayer_1 .btnsWrap {
  display: flex;
  justify-content: center;
  gap: 0 11px;
  padding: 27px 0 0 0;
}
.eventLayer_1 .btnsWrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 37px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}
.eventLayer_1 .btnsWrap a:nth-child(1) {
  background: #ff701e;
}
.eventLayer_1 .btnsWrap a:nth-child(2) {
  background: #7860f4;
}
.eventLayer_1 .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}

/* 이벤트 레이어 2*/
.eventLayer_2 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 507px;
  padding: 73px 34px 30px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.eventLayer_2::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 41px;
  background: #009956;
  border-radius: 6px 6px 0 0;
}
.eventLayer_2 h3 {
  font-size: 19px;
  color: #222;
  text-align: center;
}
.eventLayer_2 p {
  padding: 15px 0 25px;
  text-align: center;
  font-size: 14px;
  color: #222;
  letter-spacing: -0.015em;
}
.eventLayer_2 .eventContents {
  display: flex;
  width: 100%;
  min-height: 282px;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
}
.eventLayer_2 .btnsWrap {
  display: flex;
  justify-content: center;
  gap: 0 11px;
  padding: 27px 0 0 0;
}
.eventLayer_2 .btnsWrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 37px;
  font-size: 16px;
  color: #333;
  border-radius: 4px;
  border: 1px solid #009956;
}
.eventLayer_2 .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/btn_close_white.png) 0 0 no-repeat;
}

/* 알림 레이어 1 */
.noticLayer_1 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 458px;
  padding: 41px 34px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.noticLayer_1 .noticeContents {
  padding: 58px 0 0 0;
  line-height: 1.2;
  font-size: 15px;
  color: #222;
  text-align: center;
  background: url(../images/common/icon_notice_1.png) center 0 no-repeat;
}
.noticLayer_1 .btnsWrap {
  display: flex;
  justify-content: center;
  gap: 0 11px;
  padding: 33px 0 0 0;
}
.noticLayer_1 .btnsWrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 37px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}
.noticLayer_1 .btnsWrap a:nth-child(1) {
  background: #ff701e;
}
.noticLayer_1 .btnsWrap a:nth-child(2) {
  background: #7860f4;
}
.noticLayer_1 .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}

/* 알림 레이어 2 */
.noticLayer_2 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 458px;
  padding: 70px 34px 41px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.noticLayer_2::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 41px;
  background: #009956;
  border-radius: 6px 6px 0 0;
}
.noticLayer_2 .noticeContents {
  padding: 78px 0 0 0;
  line-height: 1.2;
  font-size: 15px;
  color: #222;
  text-align: center;
  background: url(../images/common/icon_notice_2.png) center 0 no-repeat;
}
.noticLayer_2 .btnsWrap {
  display: flex;
  justify-content: center;
  gap: 0 11px;
  padding: 27px 0 0 0;
}
.noticLayer_2 .btnsWrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 37px;
  font-size: 16px;
  color: #333;
  border-radius: 4px;
  border: 1px solid #009956;
}
.noticLayer_2 .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/btn_close_white.png) 0 0 no-repeat;
}

/* 알림 레이어 3 */
.noticLayer_3 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 458px;
  padding: 35px 34px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.noticLayer_3 h3 {
  text-align: center;
  font-size: 17px;
  color: #222;
}
.noticLayer_3 .noticeContents {
  padding: 20px 0 0 0;
  line-height: 1.2;
  font-size: 15px;
  color: #222;
  text-align: center;
}
.noticLayer_3 .btnsWrap {
  display: flex;
  justify-content: center;
  gap: 0 11px;
  padding: 38px 0 0 0;
}
.noticLayer_3 .btnsWrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 37px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}
.noticLayer_3 .btnsWrap a:nth-child(1) {
  background: #ff701e;
}
.noticLayer_3 .btnsWrap a:nth-child(2) {
  background: #7860f4;
}
.noticLayer_3 .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}

/* 알림 레이어 4 */
.noticLayer_4 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 458px;
  padding: 78px 34px 41px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.noticLayer_4 h3 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 41px;
  padding: 0 0 0 45px;
  color: #fff;
  font-size: 17px;
  background: #009956;
  border-radius: 6px 6px 0 0;
}
.noticLayer_4 .noticeContents {
  line-height: 1.2;
  font-size: 15px;
  color: #222;
  text-align: center;
}
.noticLayer_4 .btnsWrap {
  display: flex;
  justify-content: center;
  gap: 0 11px;
  padding: 37px 0 0 0;
}
.noticLayer_4 .btnsWrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 37px;
  font-size: 16px;
  color: #333;
  border-radius: 4px;
  border: 1px solid #009956;
}
.noticLayer_4 .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/btn_close_white.png) 0 0 no-repeat;
}

/* 개인정보 레이어 */
.termsLayer {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 874px;
  padding: 50px 53px 37px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.termsLayer h3 {
  padding: 0 0 0 20px;
  font-size: 19px;
  color: #222;
}
.termsLayer .termsTextArea {
  margin: 30px auto 0;
  width: 768px;
  height: 502px;
  padding: 15px;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid #e1e6ea;
  background: #fafafa;
}
.termsLayer .confirmBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 36px;
  margin: 24px auto 0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  background: #009956;
}
.termsLayer .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}

/* 메시지 보관함 */
.msgLayer {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 9;
  width: 552px;
  padding: 40px 0 0 0;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}
.msgLayer h3 {
  padding: 0 0 0 29px;
  font-size: 19px;
  color: #222;
}
.msgLayer .tabArea {
  display: flex;
  margin: 36px 0 0 0;
  padding: 0 0 0 26px;
  gap: 0 8px;
  border-bottom: 1px solid #39af7c;
}
.msgLayer .tabArea a {
  position: relative;
  z-index: 1;
  opacity: 0.5;
  display: flex;
  width: 120px;
  height: 43px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  border-radius: 10px 10px 0 0;
}
.msgLayer .tabArea a:hover, .msgLayer .tabArea a.on {
  opacity: 1;
  box-shadow: 2px 2px 6px 2px rgba(119, 119, 119, 0.39);
}
.msgLayer .tabArea a:nth-child(1) {
  background: #1fa56b;
}
.msgLayer .tabArea a:nth-child(2) {
  background: #ff701e;
}
.msgLayer .tabArea a:nth-child(3) {
  background: #7860f4;
}
.msgLayer .tabArea a mark {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: -4.5px;
  left: 13px;
  width: 9px;
  height: 9px;
  padding: 0;
  font-size: 0;
  text-indent: -99px;
  background: #f00;
  border-radius: 4.5px;
}
.msgLayer .viewArea {
  display: none;
  overflow-y: auto;
  max-height: 546px;
  padding: 16px 27px 55px;
}
.msgLayer .viewArea_1 {
  display: block;
}
.msgLayer .viewArea ul {
  display: flex;
  gap: 7px 0;
  flex-direction: column;
  width: 498px;
}
.msgLayer .viewArea ul li {
  width: 100%;
  padding: 4px 10px 11px 10px;
  border: 1px solid #e1e6ea;
  background: #f5f8fa;
}
.msgLayer .viewArea ul li .topInfo {
  display: flex;
  height: 31px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e6ea;
}
.msgLayer .viewArea ul li .topInfo .userInfo {
  padding: 0 0 0 13px;
  font-size: 13px;
  color: #222;
}
.msgLayer .viewArea ul li .topInfo .userInfo span {
  margin-right: 11px;
}
.msgLayer .viewArea ul li .topInfo .dateInfo {
  padding: 0 8px 0 0;
  font-size: 13px;
  color: #222;
}
.msgLayer .viewArea ul li .textInfo {
  min-height: 44px;
  padding: 13px;
  line-height: 1.2;
  font-size: 15px;
  color: #222;
}
.msgLayer .viewArea ul li .relyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msgLayer .viewArea ul li .relyInfo .replyText {
  padding: 0 0 0 35px;
  font-size: 13px;
  color: #5a5a5a;
}
.msgLayer .viewArea ul li .relyInfo a {
  margin-right: 12px;
}
.msgLayer .moreIcon {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 21px;
  left: 50%;
  width: 34px;
  height: 8px;
  margin: 0 0 0 -17px;
  background: url(../images/common/icon_more.png) 0 0 no-repeat;
}
.msgLayer .closeBtn {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 21px;
  padding: 0;
  width: 13px;
  height: 13px;
  margin-top: 0;
  background: url(../images/common/icon_close.png) 0 0 no-repeat;
}/*# sourceMappingURL=style.css.map */